{% extends "network/layout.html" %}

{% block body %}

{%if user.is_authenticated%}
<div class="col-auto mt-3 post-t">
    <form action="{% url 'index' %}" method="POST">
        {%csrf_token %}
        {{ new_post }}
        <input class="btn btn-primary mt-3" type="submit" value="Post">
    </form>
</div>
{%endif%}

{%for post in posts%}
<div>

    <h4>tweet: {{post.tweet}}</h4>
    <p>time: {{post.date_time}}</p>
    <p>likes: {{post.likes}}</p>
    <p>posted by: <a href="{%url 'profile' post.publisher_id%}">{{post.publisher}}</a></p>

</div>
{%endfor%}


{% endblock %}