{% extends "network/layout.html" %}

{% block body %}

<div id="edit-view">
    <form id="edit-form">
        <textarea autofocus class="form-control" name="" id="edit-text" cols="30" rows="10"></textarea>

        <input class="btn btn-primary mt-3" type="submit" name="edit" id="save-post" value="Save Changes">

    </form>

</div>

<div id="posts-view">
    {%if user.is_authenticated%}
    <div class="col-auto mt-3 post-t">
        <form action="{% url 'index' %}" method="POST">
            {%csrf_token %}
            {{ new_post }}
            <input class="btn btn-primary mt-3" type="submit" name="post">
        </form>
    </div>
    {%endif%}

    {%for post in page_obj%}

    <div class="card mb-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{%url 'profile' post.publisher_id%}"><b>{{post.publisher|title}} </b>
                </a>
            </li>
            <li class="list-group-item">{{post.tweet}}</li>
            <li class="list-group-item">{{post.likes}}</li>

            {% if me == post.publisher|stringformat:"s"%}
            <li class="list-group-item ">
                <button class="btn btn-outline-success edit-b" data-pid="{{ post.id }}">Edit</button>
            </li>
            {% endif%}
            <li class="list-group-item">
                <button>like!</button>
            </li>
        </ul>
        <div class="card-footer">
            {{post.date_time}}
        </div>
    </div>

    {%endfor%}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            <li class="page-item"> <a class="page-link" href=""> Page {{ page_obj.number }} of
                    {{page_obj.paginator.num_pages }}.</a>

            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}