{% extends "network/layout.html" %}

{% block body %}

{%if user.is_authenticated%}
<div class="col-auto mt-3 post-t">
    <form action="{% url 'index' %}" method="POST">
        {%csrf_token %}
        {{ new_post }}
        <input class="btn btn-primary mt-3" type="submit" value="Post">
    </form>
</div>
{%endif%}

{%for post in posts%}
<div>
    <h1>the guy: {{post.publisher}}</h1>
    <p>tweet: {{post.tweet}}</p>
    <h3>time: {{post.date_time}}</h3>
    <h3>likes: {{post.likes}}</h3>

</div>
{%endfor%}


{% endblock %}