{% extends "network/layout.html" %}

{% block body %}

<h2>Profile name: {{username|title}}</h2>
<h2>Followers: {{following}}</h2>
<h2>Following: {{followers}}</h2>
{%if me != username%}
{%if me in f_list%}

<form action="{% url 'profile' user_id %}" method="POST">
    {%csrf_token%}
    <input type="submit" name="unfollow" value="Unfollow">
</form>
{%elif me not in f_list%}


<form action="{% url 'profile' user_id %}" method="POST">
    {%csrf_token%}
    <input type="submit" name="follow" value="Follow">
</form>

{%endif%}
{%endif%}

{%for post in page_obj%}
<div>

    <b>tweet: {{post.tweet}}</b>
    <p>posted by: {{post.publisher}}</p>
    <p>time: {{post.date_time}}</p>
    <p>likes: {{post.likes}}</p>


</div>
{%endfor%}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock %}