{% extends "network/layout.html" %}

{% block body %}

<h2>Profile name: {{username|title}}</h2>
<h2>Followers: {{following}}</h2>
<h2>Following: {{followers}}</h2>
{%if me != username%}
{%if me in f_list%}

<form action="" method="POST">
    <input type="submit" value="Unfollow">
</form>
{%elif me not in f_list%}


<form action="" method="POST">
    <input type="submit" value="Follow">
</form>

{%endif%}
{%endif%}

{%for post in posts%}
<div>

    <h4>tweet: {{post.tweet}}</h4>
    <p>time: {{post.date_time}}</p>
    <p>likes: {{post.likes}}</p>
    <p>posted by: {{post.publisher}}</p>

</div>
{%endfor%}



{% endblock %}